
/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&family=Ubuntu&display=swap');



body {
    font-family: montserrat;
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: montserrat;
    font-weight: 900;
    
}
/* Headings */


/* Containers */
.container-fluid {
    padding: 15% 7%;
}

/* Headings */ 

.big-heading {
    font-family: montserrat, sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

/* Title section */
#title{
    background-color: #ff4c68;
    color: white;
    text-align: left;
}
#title .container-fluid {
    padding: 3% 15% 7%;
}

#title h1 {
    margin: 50px 0px;
}





/* title-image */
.title-image {
    text-align: right;
}

#phone-image {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 20%;
}

/* Download button */

#download-btn {
    margin: 5% 3% 5% 0;
}




/* Navbar */

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: ubuntu;
    font-weight: bold;

}

.nav-item {
    padding: 18px;
    font-size: 1.2rem;

}




/* features section */

#features {
    color: #8f8f8f;
    font-weight: 600; 
    background-color: white;
    position: relative;
    /* z-index: 1; */

}

#features h3 {
    color: black;
}

#features i {
    margin-bottom: 1rem;
}


#features .col-lg-4:hover i {
    transition: all 0.2s ease-in !important;
    color: #ff4c68 !important;
}


/* Testimonials Section */

#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: white;
    
}

 

.testimonial-image {
    width: 10%;
    border-radius: 50%;
}

.carousel-item {
    padding: 7% 15%;

}


/* Press Section */

#press {
    text-align: center;
    background-color: #ff4c68;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
    
}
#pricing p{
    color: #8f8f8f;
    font-weight: 600;
}

#pricing h3{
    font-weight: 900;
}

#pricing h2{
    font-size: 3rem;
    font-weight: 800;

}

.pricing-col {
    padding: 3% 2%;
}

@media (max-width: 1100px) {
    #phone-image {
        position: static;
        transform: rotate(0);
    }
    #title {
        text-align: center;
    }
}

/* Call To Action section */

#cta {
    background-color: #ff4c68;
    text-align: center;
    color: white;
}



/* Footer */

#footer {
    font-family: montserrat;
    font-size: 1.5rem;
    color: #8f8f8f;
    font-weight: 600;
    text-align: center;
    margin: 100px auto 10px;
}

#footer i {
    color: black;
    font-size: 3rem;
    margin: 0px 10px 50px;
}